*.class
.settings
.springBeans
bin
spring-test/test-output/

# Package Files #
*.jar
*.war
*.ear

/build
buildSrc/build
/spring-*/build
/src/asciidoc/build
target/

# Eclipse artifacts, including WTP generated manifests
.classpath
.project
spring-*/src/main/java/META-INF/MANIFEST.MF